{% extends "/layout.jinja2" %}

{% block title %}Opendoor Scramble{% endblock title %}

{% block content %}
    <div ng-controller="ScrambleController" id="main">
        <section id="board" class="board">
            <div class="tile placed" ng-repeat="tile in attempts track by $index">
                <span class="face">{[{ tile.letter }]}</span>
            </div>
            <div class="tile unplaced" ng-repeat="tile in tiles | filter:isUnplaced track by $index">
                <span class="face">{[{ tile.letter }]}</span>
            </div>
        </section>
        <section id="result">
            <h1 class="correct icon" ng-visible="isCorrect">&#x1f44d;</h1>
        </section>
    </div>
{% endblock content %}
