{% extends "/layout.jinja2" %}

{% block title %}Opendoor Scramble{% endblock title %}

{% block content %}
    <div ng-controller="ScrambleController" id="main">
        <board id="board" word="word" on-ready="onReady()" on-complete="onComplete()" on-error="onError()"></board>
        <section id="result">
            <h1 class="correct icon ng-invisible spin-in blow-out" ng-visible="isCorrect">&#x1f44d;</h1>
        </section>
    </div>
{% endblock content %}
