$light: #d4f99c;
$medium: #8ba367;
$dark: #434f32;

body {
    color: #333;
    background-color: $light;
}

#main {
    flex-direction: column;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.board {
    display: flex;
    height: 80px;
}

.tile {
    display: flex;
    width: 80px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin: 0 2px;

    .face {
        font-weight: bold;
        font-size: 55px;
    }

    &.unplaced {
        background-color: #aaa;
        opacity: 0.45;

        .face {
            color: #666;
        }
    }

    &.placed {
        background-color: $dark;

        .face {
            color: $medium;
        }
    }
}

#result {
    .icon {
        $iconSize: 60px;
        height: $iconSize;
        width: $iconSize;
        line-height: $iconSize;
        border-radius: $iconSize/2;
        text-align: center;
    }

    .correct {
        background-color: $dark;
        color: $light;
    }
}

.tile, #result .icon {
    border: 1px solid #999;
}
