<!DOCTYPE html>
<html lang="en" ng-app="{% block ng_app %}scramble{% endblock ng_app %}">
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{{ 'scramble:static/css/bootstrap.css' | static_url }}">
        <link rel="stylesheet" type="text/css" href="{{ 'css' | route_url(css_path='style') }}">
        {% block style %}{% endblock style %}

        <script type="text/javascript" src="{{ 'scramble:static/js/polyfill.js' | static_url }}"></script>
        <script type="text/javascript" src="{{ 'scramble:static/js/angular.js' | static_url }}"></script>
        <script type="text/javascript" src="{{ 'scramble:static/js/scramble.js' | static_url }}"></script>
        {% block script %}{% endblock script %}
    </head>

    <body>
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
